@charset "UTF-8";
:root[color-theme=dark] {
  --background-color: #000;
  --text-color: #fff;
  --gray-color: gray;
}

:root[color-theme=light] {
  --background-color: beige
  --text-color : #000;
  --gray-color: gray;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  list-style: none;
  outline: none;
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

body {
  background-color: var(--background-color);
  height: 2000px;
  width: 100%;
  margin: 0;
}

header {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  padding: 20px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #000;
  z-index: 1;
  transform: translateY(-100%);
  transition: 0.2s ease-in;
}
header p {
  background-image: url(../images/moreeplogo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: -9999em;
  width: 160px;
  height: 38px;
}
header span {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #fff;
  padding: 7px 15px;
  border-radius: 10px;
}

header.active {
  transform: translateY(0);
}

.content {
  max-width: 1080px;
  margin: 90px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  font-weight: bold;
}
.content span:first-of-type {
  font-size: 64px;
  display: flex;
  gap: 20px;
}
.content span:nth-of-type(2) {
  font-size: 17px;
  color: var(--gray-color);
}
.content span:nth-of-type(3) {
  margin: 2rem 0;
  font-size: 24px;
  background-color: goldenrod;
  padding: 15px 50px;
  border-radius: 10px;
}

.content.active {
  animation: display 2s 0.5s both;
}

.content span > span {
  position: relative;
}

.content span > span:before {
  content: "몰입";
  position: absolute;
  top: 0;
  left: 0;
  color: goldenrod;
  transition: 0.2s ease-in;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
}

.content:hover span > span:before {
  width: 100%;
}

@keyframes display {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.slide-container {
  padding: 20px;
  overflow: hidden;
}

.slide-wrapper {
  display: flex;
  margin: 0 auto;
  gap: 20px;
}
.slide-wrapper img {
  border-radius: 20px;
  height: 200px;
  background-color: bisque;
}

@keyframes moveFirstSlide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-8%);
  }
}
.slide-wrapper.first {
  animation: moveFirstSlide 10s linear infinite alternate;
}

.slide-wrapper:last-child {
  margin-top: 20px;
}

.slide-wrapper.second {
  transform: translateX(-12%);
  animation: moveSecondSlide 10s linear infinite alternate;
}

@keyframes moveSecondSlide {
  0% {
    transform: translateX(-12%);
  }
  100% {
    transform: translateX(0%);
  }
}
.content2 {
  width: 100%;
  background-color: #fff;
  position: relative;
  padding-bottom: 100px;
}

.content2:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0%;
  bottom: 100%;
  background-color: #fff;
  z-index: -1;
}

.content2-wrapper {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 80px;
}
.content2-wrapper > span {
  color: #000;
  font-size: 42px;
  font-weight: bold;
  padding: 20px;
}
.content2-wrapper > span:first-child {
  margin-top: 100px;
}
.content2-wrapper .desk-wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px;
}
.content2-wrapper .desk-wrapper img {
  max-width: 140px;
  width: 50%;
  border-radius: 20px;
  transition: 0.2s ease-in;
}
.content2-wrapper .desk-wrapper img:hover {
  transform: scale(2);
}
.content2-wrapper .desk-wrapper img:first-of-type:hover {
  transform: scale(2) translateX(20%);
}
.content2-wrapper .desk-wrapper img:last-of-type:hover {
  transform: scale(2) translateX(-20%);
}
.content2-wrapper .desk-wrapper img.gray {
  filter: grayscale(0.9);
}
.content2-wrapper .desk-wrapper img.active {
  z-index: 999;
}

.cafe-info {
  background-color: goldenrod;
  width: 100%;
  padding: 5% 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
.cafe-info span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cafe-info span > p {
  color: #fff;
}

@media screen and (max-width: 800px) {
  .content span:first-of-type {
    font-size: 32px;
  }
  .content span:nth-of-type(2) {
    font-size: 12px;
  }
  .slide-wrapper img {
    height: 150px;
  }
  .slide-wrapper.first {
    animation: moveFirstSlide 10s linear infinite alternate;
  }
  .slide-wrapper.second {
    animation: moveSecondSlide 10s linear infinite alternate;
  }
  @keyframes moveFirstSlide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-105%);
    }
  }
  @keyframes moveSecondSlide {
    0% {
      transform: translateX(-107%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .content2-wrapper .desk-wrapper {
    margin-top: 30px;
  }
  .content2-wrapper .desk-wrapper img:hover {
    transform: none;
  }
  .content2-wrapper .desk-wrapper img:first-of-type:hover {
    transform: none;
  }
  .content2-wrapper .desk-wrapper img:last-of-type:hover {
    transform: none;
  }
  .content2-wrapper > span {
    font-size: 28px;
    padding: 10px;
  }
  .cafe-info svg {
    width: 50px;
    height: 50px;
  }
  .cafe-info span > p {
    font-size: 10px;
  }
}
@media screen and (max-width: 500px) {
  @keyframes moveFirstSlide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-135%);
    }
  }
  @keyframes moveSecondSlide {
    0% {
      transform: translateX(-140%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  header span {
    font-size: 12px;
    white-space: nowrap;
  }
  header p {
    width: 125px;
    height: 30px;
  }
  .content {
    margin: 40px;
  }
  .content span:first-of-type {
    font-size: 26px;
    white-space: nowrap;
  }
  .content span:nth-of-type(2) {
    font-size: 12px;
    white-space: wrap;
    line-height: 20px;
  }
  .content > span:last-of-type {
    margin: 1rem 0;
    font-size: 16px;
    padding: 10px 30px;
  }
  .slide-wrapper img {
    height: 100px;
  }
  .content2-wrapper > span {
    font-size: 18px;
    padding: 5px;
    padding-left: 20px;
  }
  .content2-wrapper > span:first-child {
    margin-top: 50px;
  }
  .cafe-info svg {
    width: 30px;
    height: 30px;
  }
  .cafe-info span > p {
    font-size: 8px;
  }
}

/*# sourceMappingURL=style.css.map */
